<h1>Save any kind of movies</h1>

<ol>
  <% @lists.each do |list| %>

  <li>
  <%= link_to list.name, list_path(list) %>
 </li>

<% if list.photo %>
  <% if list.photo.key %>
  <%= cl_image_tag list.photo.key, height: 50, width: 50, crop: :fill %>
  <% end %>
<% end %>


  <% end %>
</ol>
